In [1]:
import sqlite3

In [2]:
# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('TestDB.db')

In [3]:
# Create a cursor object
cur = conn.cursor()

In [4]:
# Create a table
cur.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    position TEXT NOT NULL,
    salary REAL
)
''')

In [5]:
# Insert data
cur.execute("INSERT INTO employees (name, position, salary) VALUES ('Alice', 'Manager', 75000)")
cur.execute("INSERT INTO employees (name, position, salary) VALUES ('Bob', 'Assistant', 50000)")
cur.execute("INSERT INTO employees (name, position, salary) VALUES ('Charlie', 'Expert', 60000)")

# Commit the transaction
conn.commit()

In [6]:
# Query the data
cur.execute('SELECT * FROM employees')

# Fetch all results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

(1, 'Alice', 'Manager', 75000.0)
(2, 'Bob', 'Assistant', 50000.0)
(3, 'Charlie', 'Expert', 60000.0)

In [7]:
# Close the connection
conn.close()